.crontab-input {
  .explanation {
    text-align: center;
    margin: 10px;
  }

  .cron-input {
    font-family: "Courier New", Courier, monospace;
    font-size: 60px;
    text-align: center;
  }

  .parts {
    .part {
      display: inline-block;
      width: 100px;
      text-align: center;
      &.selected {
        font-weight: bold;
      }
    }
  }
  text-align: center;
}
